<div class="container">
  <h1>Star Seller Calculator</h1>

  <h3>Message Response Rate</h3>
  <p>Enter the number of messages you've received:</p>
  <input
    type="text"
    [(ngModel)]="messageNumber"
    placeholder="Enter whole number"
  />
  <p>
    Enter the percentage of messages that got an initial reply within 24 hours:
  </p>
  <input
    type="text"
    placeholder="Enter as decimal"
    [(ngModel)]="messagePercentage"
  />

  <h3>On-time Shipping/Tracking</h3>
  <p>Enter the number of eligible orders shipped on time with tracking:</p>
  <input
    type="text"
    placeholder="Enter whole number"
    [(ngModel)]="shipmentNumber"
  />
  <p>Enter the percentage of orders shipped on time with tracking:</p>
  <input
    type="text"
    placeholder="Enter as decimal"
    [(ngModel)]="shipmentPercentage"
  />


 <h3>5-star Rating</h3>
 <p>How many ratings do you currently have:</p>
    <input
      type="text"
      placeholder="Enter whole number"
      [(ngModel)]="ratingNumber"
    />
    <p>Enter many items have 5-star ratings:</p>
    <input
      type="text"
      placeholder="Enter number of 5 Star"
      [(ngModel)]="fiveStar"
    />



  <h1>Star Seller</h1>
  <button type="button"
    (click)="
      calculateStarSeller(
        messageNumber,
        messagePercentage,
        shipmentNumber,
        shipmentPercentage,
        ratingNumber,
        fiveStar
      )
    "
  > Calculate</button>
  <div>
    <p> The number of future messages that need an initial response within 24 hours are:</p>
    <p class = "results">{{ neededMessages }}</p>
    <p>The number of future orders that need to be shipped on-time with tracking are:</p>
    <p class = "results">{{ neededShipments }}</p>
    <p *ngIf="ratings != 0">The number of 5-star ratings you need to receive on future orders are:</p>
    <p class = "results" *ngIf="ratings !=0">{{ ratings }}</p>

  </div>
</div>
